# Reading Data from SQL Databases with Pandas

This notebook demonstrates how to connect to SQL databases and retrieve data directly into pandas DataFrames using SQLAlchemy.

## Table of Contents:
1. **Library Imports** - Import necessary libraries for database connections
2. **Creating Database Connections** - Establishing connections using SQLAlchemy engine
3. **Querying Data** - Executing SQL queries and loading results into DataFrames
4. **Benefits of Using SQLAlchemy** - Why use SQLAlchemy over raw database drivers

## Key Concepts:
- **SQLAlchemy Engine** - Abstraction layer that manages database connections
- **Connection String (URI)** - Specifies which database to connect to and how
- **pd.read_sql()** - Pandas function that executes SQL queries and returns DataFrames

---

In [1]:
# Import essential libraries for database operations and visualization
import pandas as pd  # For reading SQL data into DataFrames
import matplotlib.pyplot as plt  # For creating plots and visualizations
from sqlalchemy import create_engine  # For creating database connections

## Section 1: Importing Required Libraries

Three essential libraries needed for working with SQL databases in Python:

1. **pandas** - For data manipulation and creating DataFrames from SQL query results
2. **matplotlib.pyplot** - For visualizing data retrieved from the database
3. **sqlalchemy** - Industrial-strength SQL database toolkit and Object Relational Mapper (ORM)
   - Provides abstraction layer between Python and databases
   - Supports multiple database types (MySQL, PostgreSQL, SQLite, Oracle, etc.)
   - Manages connection pooling and resource cleanup

In [ ]:
# Step 1: Create a SQLAlchemy Engine for Database Connection
# ===========================================================
# The connection string (URI) specifies:
#   - mysql: The type of database system
#   - mysqlconnector: The Python driver for MySQL
#   - root: Database username
#   - (empty): Database password (here there is no password)
#   - localhost: Server location (running on this computer)
#   - world: Name of the database to use

# create_engine() returns an Engine object that manages all connections
engine = create_engine("mysql+mysqlconnector://root:@localhost/world")

# Step 2: Define a SQL Query
# ==========================
# This SQL SELECT query retrieves all columns (*) from the 'city' table
# WHERE clause filters: Only get cities from India (CountryCode='IND')
query = "SELECT * FROM city WHERE CountryCode='IND'"

# Step 3: Execute Query and Load into DataFrame
# ===============================================
# pd.read_sql() performs the following:
#   1. Takes the SQL query and engine object
#   2. Executes the query against the database
#   3. Fetches all result rows
#   4. Converts results into a pandas DataFrame with columns matching SQL table columns
df = pd.read_sql(query, engine)

# Step 4: Display the Results
# ============================
# head() shows the first 5 rows by default
# This verifies the data was retrieved successfully and displays the structure
print(df.head())

     ID                Name CountryCode        District  Population
0  1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1  1025               Delhi         IND           Delhi     7206704
2  1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3  1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4  1028           Hyderabad         IND  Andhra Pradesh     2964638

In [14]:
# 1. Basic SELECT with WHERE clause
df = pd.read_sql("SELECT * FROM city WHERE CountryCode='IND'", engine)
print(df.head())
# 2. SELECT specific columns
df = pd.read_sql("SELECT Name, Population FROM city WHERE CountryCode='IND'", engine)
print(df.head())

# 3. ORDER BY to sort results
df = pd.read_sql("SELECT * FROM city WHERE CountryCode='IND' ORDER BY Population DESC", engine)
print(df.head())

# 4. LIMIT to get top N rows
# df = pd.read_sql("SELECT TOP 10 * FROM city ORDER BY Population DESC", engine)
# print(df.head())

# 5. Aggregate functions
df = pd.read_sql("SELECT CountryCode, COUNT(*) as CityCount FROM city GROUP BY CountryCode", engine)
print(df.head())

# 6. JOIN multiple tables
df = pd.read_sql("""
    SELECT city.Name, city.Population, country.Name as CountryName 
    FROM city 
    JOIN country ON city.CountryCode = country.Code 
    WHERE city.CountryCode = 'IND'
""", engine)
print(df.head())

     ID                Name CountryCode        District  Population
0  1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1  1025               Delhi         IND           Delhi     7206704
2  1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3  1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4  1028           Hyderabad         IND  Andhra Pradesh     2964638
                 Name  Population
0     Mumbai (Bombay)    10500000
1               Delhi     7206704
2  Calcutta [Kolkata]     4399819
3    Chennai (Madras)     3841396
4           Hyderabad     2964638
     ID                Name CountryCode        District  Population
0  1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1  1025               Delhi         IND           Delhi     7206704
2  1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3  1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4  1028           Hyderabad         IND  Andhra Pradesh     2964638
  CountryCode  CityCount
0         ABW          1
1         AFG          4
2         AGO          5
3         AIA          2
4         ALB          1
                 Name  Population CountryName
0     Mumbai (Bombay)    10500000       India
1               Delhi     7206704       India
2  Calcutta [Kolkata]     4399819       India
3    Chennai (Madras)     3841396       India
4           Hyderabad     2964638       India

## Section 3: Key Methods for SQL Data Retrieval

### `pd.read_sql()` vs `pd.read_sql_query()`

Both execute SQL queries, but use `pd.read_sql()` as it's more flexible:

```python
# pd.read_sql() - More versatile, automatically detects SQL vs table name
df = pd.read_sql("SELECT * FROM city", engine)

# pd.read_sql_query() - Specifically for SQL query strings
df = pd.read_sql_query("SELECT * FROM city", engine)

# pd.read_sql_table() - Read entire table without SQL query
df = pd.read_sql_table("city", engine)
```

### Common SQL Queries with Pandas

```python
# 1. Basic SELECT with WHERE clause
df = pd.read_sql("SELECT * FROM city WHERE CountryCode='IND'", engine)

# 2. SELECT specific columns
df = pd.read_sql("SELECT Name, Population FROM city WHERE CountryCode='IND'", engine)

# 3. ORDER BY to sort results
df = pd.read_sql("SELECT * FROM city WHERE CountryCode='IND' ORDER BY Population DESC", engine)

# 4. LIMIT to get top N rows
df = pd.read_sql("SELECT TOP 10 * FROM city ORDER BY Population DESC", engine)

# 5. Aggregate functions
df = pd.read_sql("SELECT CountryCode, COUNT(*) as CityCount FROM city GROUP BY CountryCode", engine)

# 6. JOIN multiple tables
df = pd.read_sql("""
    SELECT city.Name, city.Population, country.Name as CountryName 
    FROM city 
    JOIN country ON city.CountryCode = country.Code 
    WHERE city.CountryCode = 'IND'
""", engine)
```

## Best Practices

1. **Use SQLAlchemy Engine** - More flexible and supports multiple database types
2. **Filter in SQL, not Python** - Use SQL WHERE/HAVING clauses to reduce data transfer
3. **Select Only Needed Columns** - Don't load columns you won't use
4. **Use LIMIT for Large Tables** - Test queries with LIMIT before loading entire tables
5. **Close Engine When Done** - Call `engine.dispose()` to clean up connections
6. **Handle Connection Errors** - Wrap queries in try-except blocks
7. **Use Parameterized Queries** - Protect against SQL injection risks

## Advantages of This Approach

✓ **Direct Loading** - No need to download CSV files or intermediate formats
✓ **Real-time Data** - Always gets latest data from the database
✓ **Scalable Filtering** - Database does the filtering (more efficient than Python)
✓ **Memory Efficient** - Can use LIMIT and WHERE to load only needed data
✓ **Integration** - Seamlessly integrates with pandas for analysis and visualization

## Section 2: Connecting to a SQL Database

### Understanding Connection Strings (URIs)

The connection string specifies **which database to connect to** and **how to authenticate**.

**Format:** `dialect+driver://username:password@host:port/database`

**Example Breakdown:**
```
mysql+mysqlconnector://root:@localhost/world
│       │                └─┬──┘ (optional if no password)
│       │                  │
│       │                  password (empty in this case)
│       └─ Driver for MySQL
└─ Database type
```

**Connection String Components:**
- **dialect** (mysql) - Type of database (PostgreSQL, SQLite, Oracle, etc.)
- **driver** (mysqlconnector) - Specific Python driver to communicate with the database
- **username** (root) - User account on the database
- **password** (empty here) - User's password (leave empty if no password)
- **host** (localhost) - Server address (127.0.0.1 for local, IP/domain for remote)
- **port** (3306 default for MySQL) - Usually omitted when using default
- **database** (world) - Specific database to use

### Creating an Engine

SQLAlchemy's `create_engine()` returns an **Engine** object that:
- Manages all database connections
- Handles connection pooling (reuses connections efficiently)
- Provides abstraction across different database types
- Is preferred over raw MySQL connections for production code